/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Manrope:wght@200..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  src: url("../public/fonts/Roaches-Regular.otf");
  font-family: "Roaches";
}
:root {
  --font-family: "Kulim Park", sans-serif;
  --second-family: "Roaches", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Fondamento", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  font-family: var(--font-family);
  background-color: #fff;
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  color: #fff;
}

.tooltip.visible {
  display: block;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 1279px) {
  .header {
    top: 0;
  }
}

.header__container {
  width: min(1306px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.header__top {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #fff;
  display: none;
}
@media screen and (max-width: 1279px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .header__bottom {
    margin-top: 18px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1279px) {
  .header__navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 66px;
  font-size: 60px;
  text-transform: uppercase;
  color: #000;
}
.navigation__list .navigation__link {
  transition: color 200ms ease;
}
.navigation__list .navigation__link:hover {
  color: #0050b9;
}

.header__menu {
  width: 100%;
  height: 110vh;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  translate: 0 -100%;
  z-index: 20;
  visibility: hidden;
  background-color: #fe910c;
  transition: all 600ms ease-in-out;
}

.header__menu.visible {
  translate: 0 -14px;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--third-family);
  font-size: 24px;
  text-transform: uppercase;
}

.header__menu-btn {
  margin-left: auto;
  margin-right: 15px;
  display: none;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 21;
}
@media screen and (max-width: 1279px) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn div {
  width: 64px;
  height: 2px;
  background-color: #000;
  border-radius: 20px;
  transition: all 200ms ease;
}

.header__menu-btn.close div:first-of-type {
  rotate: 45deg;
  translate: 4px 9px;
}
.header__menu-btn.close div:nth-of-type(2) {
  display: none;
}
.header__menu-btn.close div:last-of-type {
  rotate: -45deg;
  translate: 4px -9px;
}

.home {
  min-height: 1150px;
  background-image: url("../public/img/home/home_bg.jpg");
  background-size: cover;
  background-position: 50% -90px;
  position: relative;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 1279px) {
  .home {
    background-image: url("../public/img/home/home_bg_mobile.png");
    background-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home {
    min-height: 780px;
  }
}
@media screen and (max-width: 530px) {
  .home {
    background-size: 100%;
    background-position: 0 10px;
    background-repeat: no-repeat;
  }
}

.home__title {
  position: absolute;
  z-index: -1;
}

.home__btn {
  width: 426px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 14px solid #ee7d14;
  background: #cc0707;
  font-size: 45px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 280px;
  left: 50%;
  translate: -50% 0;
  transition: filter 150ms ease;
}
@media screen and (max-width: 1279px) {
  .home__btn {
    bottom: 135px;
    width: 218px;
    height: 58px;
    border: 7px solid #ee7d14;
    font-size: 23px;
  }
}
.home__btn:hover {
  filter: brightness(0.8);
}
.home__btn:active {
  filter: brightness(1);
}

.home__socials {
  position: absolute;
  bottom: 160px;
  left: 50%;
  translate: -50% 0;
}
@media screen and (max-width: 1279px) {
  .home__socials {
    display: none;
  }
}
.home__socials a:hover svg,
.home__socials a:hover img {
  transition: scale 200ms ease;
  scale: 1.1;
}

.home__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #fff;
}
@media screen and (max-width: 1279px) {
  .home__bottom {
    height: 65px;
  }
}

.home__token {
  display: flex;
  align-items: center;
  gap: 18px;
}

.home-token__code {
  font-size: 29px;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .home-token__code {
    font-size: 21px;
  }
}

.about {
  padding-top: 236px;
  padding-bottom: 410px;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .about {
    min-height: 800px;
    padding-top: 117px;
    padding-bottom: 150px;
    background-image: url("../public/img/about/about_bg_mobile.png");
  }
}
.about::before {
  content: url("../public/img/about/about_bg_layer_front.png");
  position: absolute;
  top: 16px;
  left: 50%;
  translate: -50% 0;
  mix-blend-mode: soft-light;
  display: none;
  z-index: -1;
}
@media screen and (max-width: 1279px) {
  .about::before {
    display: block;
  }
}

.about__container {
  width: min(1348px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 34px;
  padding-right: 34px;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .about__container {
    position: static;
    flex-direction: column;
    align-items: center;
  }
}

.about__title {
  margin-bottom: 43px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 124px;
  text-transform: uppercase;
  color: #cc0707;
}
@media screen and (max-width: 1279px) {
  .about__title {
    margin-bottom: 21px;
    font-size: 54px;
    text-align: center;
  }
}

.about__description {
  margin-bottom: 53px;
  max-width: 520px;
  font-size: 20px;
  line-height: 180%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .about__description {
    max-width: 243px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .about__description {
    font-size: 16px;
  }
}

.about__wrap {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1279px) {
  .about__wrap {
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 70px;
    left: 50%;
    translate: -50% 0;
  }
}

.about__btn {
  width: 325px;
  height: 84px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease, border-width 50ms ease;
}
@media screen and (max-width: 1279px) {
  .about__btn {
    width: 167px;
    height: 42px;
    border: 5px solid #fff;
    font-size: 16px;
  }
}
.about__btn:hover {
  border-width: 12px;
}
.about__btn:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.about__download {
  width: 225px;
  height: 84px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease, border-width 50ms ease;
}
@media screen and (max-width: 1279px) {
  .about__download {
    width: 124px;
    height: 46px;
    border: 5px solid #fff;
    font-size: 16px;
  }
}
.about__download:hover {
  border-width: 12px;
}
.about__download:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.about__download.disabled {
  opacity: 0.57;
  cursor: default;
}
.about__download.disabled:hover {
  border-width: 10px;
}
.about__download.disabled:active {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.about__img {
  position: absolute;
  top: -96px;
  right: -100px;
}
@media screen and (max-width: 1279px) {
  .about__img {
    position: relative;
    top: -40px;
    right: 0;
  }
}

.about__ticker {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .about__ticker {
    height: 64px;
  }
}
.about__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 60s linear infinite;
}
@media screen and (max-width: 1279px) {
  .about__ticker .ticker__wrap {
    gap: 100px;
  }
}
.about__ticker .ticker__wrap span {
  font-size: 32px;
  line-height: 100%;
  color: #000;
}
@media screen and (max-width: 1279px) {
  .about__ticker .ticker__wrap span {
    font-size: 25px;
  }
}

@keyframes tickerMove {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    translate: -50% 0;
  }
}
.tokenomic {
  padding-top: 190px;
  padding-bottom: 426px;
  background-image: url("../public/img/tokenomic/tokenomic_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .tokenomic {
    padding-top: 55px;
    padding-bottom: 146px;
  }
}
.tokenomic::before {
  content: url("../public/img/tokenomic/tokenomic_bg_layer_front.png");
  position: absolute;
  top: 35px;
  left: 50%;
  translate: -50% 0;
  mix-blend-mode: soft-light;
  z-index: -1;
}
@media screen and (max-width: 1279px) {
  .tokenomic::before {
    content: url("../public/img/tokenomic/tokenomic_bg_layer_front_mobile.png");
    top: 14px;
  }
}

.tokenomic__container {
  width: min(1326px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .tokenomic__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
}

.tokenomic__title {
  margin-bottom: 58px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 124px;
  text-transform: uppercase;
  color: #81c29b;
}
@media screen and (max-width: 1279px) {
  .tokenomic__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 47px;
  }
}

.tokenomic__statistics {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}
@media screen and (max-width: 1279px) {
  .tokenomic__statistics {
    padding-left: 0;
    gap: 50px;
    font-size: 23px;
  }
}

.statistics__num {
  font-size: 56px;
}
@media screen and (max-width: 1279px) {
  .statistics__num {
    font-size: 35px;
  }
}

.tokenomic__img {
  position: absolute;
  top: 76px;
  right: 0;
}
@media screen and (max-width: 1279px) {
  .tokenomic__img {
    position: relative;
    top: 0;
  }
}

.tokenomic__ticker {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .tokenomic__ticker {
    height: 64px;
  }
}
.tokenomic__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 60s linear infinite;
}
@media screen and (max-width: 1279px) {
  .tokenomic__ticker .ticker__wrap {
    gap: 100px;
  }
}
.tokenomic__ticker .ticker__wrap span {
  font-size: 32px;
  line-height: 100%;
  color: #000;
}
@media screen and (max-width: 1279px) {
  .tokenomic__ticker .ticker__wrap span {
    font-size: 25px;
  }
}

.buy {
  padding-top: 236px;
  padding-bottom: 474px;
  background-color: #cd88b5;
  background-image: url("../public/img/buy/buy_bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .buy {
    padding-top: 70px;
    padding-bottom: 210px;
  }
}
.buy::before {
  content: url("../public/img/buy/buy_bg_layer_front.png");
  position: absolute;
  top: 54px;
  left: 50%;
  translate: -50% 0;
  mix-blend-mode: soft-light;
  z-index: -1;
}
@media screen and (max-width: 1279px) {
  .buy::before {
    content: url("../public/img/buy/buy_bg_layer_front_mobile.png");
    translate: -55% 0;
    top: -64px;
  }
}

.buy__container {
  width: min(1326px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 23px;
  padding-right: 23px;
}

.buy__title {
  margin-bottom: 74px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 124px;
  text-transform: uppercase;
  color: #81c29b;
}
@media screen and (max-width: 1279px) {
  .buy__title {
    margin-bottom: 47px;
    font-size: 53px;
    text-align: center;
  }
}

.buy__steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 126px;
  column-gap: 138px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .buy__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.steps__item {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #000;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .steps__item {
    font-size: 18px;
  }
}
.steps__item::after {
  content: "";
  width: 324px;
  height: 1px;
  position: absolute;
  bottom: -22px;
  left: 30px;
  background-color: #000;
}
@media screen and (max-width: 1279px) {
  .steps__item::after {
    display: none;
  }
}
.steps__item:last-of-type {
  grid-column: 1/3;
}
.steps__item:nth-of-type(2) span:first-of-type::before {
  content: "2";
}
.steps__item:nth-of-type(3) span:first-of-type::before {
  content: "3";
}
.steps__item span:first-of-type {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 58px;
  letter-spacing: 0.14em;
  color: #d80000;
  z-index: 1;
  position: relative;
  translate: 0 8%;
}
.steps__item span:first-of-type::before {
  content: "1";
  position: absolute;
  top: 0;
  left: -3px;
  color: #ee7d14;
  z-index: -1;
  font-size: 64px;
  font-weight: 900;
}
.steps__item .step__description {
  max-width: 520px;
}
@media screen and (max-width: 1279px) {
  .steps__item .step__description {
    max-width: 272px;
  }
}
.steps__item .buy__accent-color {
  font-weight: 700;
}

.buy__img-1 {
  position: absolute;
  bottom: 0;
  left: 308px;
}
@media screen and (max-width: 1279px) {
  .buy__img-1 {
    left: 0;
  }
}
.buy__img-1 img {
  width: 482px;
  height: 438px;
}
@media screen and (max-width: 1279px) {
  .buy__img-1 img {
    width: 151px;
    height: 137px;
  }
}

.buy__img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1279px) {
  .buy__img-2 {
    right: 0;
  }
}
.buy__img-2 img {
  width: 576px;
  height: 799px;
}
@media screen and (max-width: 1279px) {
  .buy__img-2 img {
    width: 169px;
    height: 222px;
  }
}

.footer {
  padding-top: 32px;
  padding-bottom: 44px;
  background: #cc0707;
}
@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 37px;
  }
}

.footer__container {
  width: min(1360px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 57px;
}
@media screen and (max-width: 1279px) {
  .footer__socials {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.footer__socials a svg,
.footer__socials a img {
  transition: scale 200ms ease;
}
.footer__socials a svg:hover,
.footer__socials a img:hover {
  scale: 1.1;
}

.socials__title {
  font-family: var(--second-family);
  font-size: 50px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1279px) {
  .socials__title {
    font-size: 38px;
  }
}

.footer__btn {
  width: 207px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: var(--third-family);
  font-size: 32px;
  color: #000;
}
@media screen and (max-width: 1279px) {
  .footer__btn {
    margin-top: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
