.buy {
  padding-top: 175px;
  padding-bottom: 395px;
  position: relative;

  @media screen and (max-width: 1279px) {
    padding-top: 162px;
    padding-bottom: 124px;
  }
}

.buy__container {
  width: min(1324px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
}

.buy__wrap {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;

  @media screen and (max-width: 1279px) {
    align-items: center;
    gap: 7px;
  }
}

.buy__title {
  margin-bottom: 134px;
  font-weight: 700;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: var(--red);
  text-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 1279px) {
    margin-bottom: 85px;
    font-size: 43px;
  }
}

.buy__subtitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.buy__steps {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    align-items: center;
    gap: 67px;
  }
}

.buy-steps__title {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 31px;
  color: #fff;

  @media screen and (max-width: 1279px) {
    margin-bottom: 20px;
    justify-content: center;
  }

  &:before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 50%;
    background-color: #420000;
  }
}

.buy-steps__descriptions {
  max-width: 370px;
  margin-bottom: 42px;
  font-family: var(--second-family);
  color: #c0c0c0;
  font-size: 18px;
  line-height: 180%;

  @media screen and (max-width: 1279px) {
    max-width: 304px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
  }

  .buy__accent-color {
    font-family: var(--second-family);
    font-weight: 800;
    color: #fff;
  }
}

.buy__download {
  width: 241px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: filter 200ms ease;

  @media screen and (max-width: 1279px) {
    display: none;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}

.buy__banner {
  width: min(842px, 100%);
  height: 297px;
  margin-top: 265px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 -1px 14px rgba(255, 255, 255, 0.25);
  background: #000;
  position: relative;

  @media screen and (max-width: 1279px) {
    height: 110px;
    margin-top: 67px;
    padding: 16px;
  }
}

.banner__top {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @media screen and (max-width: 1279px) {
    margin-bottom: 6px;
    font-size: 11px;
  }
}

.banner__num {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 68px;
  color: var(--red);
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1279px) {
    font-size: 25px;
  }
}

.banner__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.buy__ticker {
  width: 100%;
  height: 80px;
  background-color: var(--red);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 1279px) {
    height: 42px;
  }

  .ticker__wrap {
    display: flex;
    align-items: center;
    gap: 124px;
    animation: tickerMove 60s linear infinite;

    @media screen and (max-width: 1279px) {
      gap: 64px;
    }

    span {
      font-size: 32px;
      font-weight: 700;
      line-height: 100%;
      color: #fff;
      text-wrap: nowrap;

      @media screen and (max-width: 1279px) {
        font-size: 16px;
      }
    }
  }
}
