.tokenomic {
  padding-top: 190px;
  padding-bottom: 426px;
  background-image: url("../public/img/tokenomic/tokenomic_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media screen and (max-width: 1279px) {
    padding-top: 55px;
    padding-bottom: 146px;
  }

  &::before {
    content: url("../public/img/tokenomic/tokenomic_bg_layer_front.png");
    position: absolute;
    top: 35px;
    left: 50%;
    translate: -50% 0;
    mix-blend-mode: soft-light;
    z-index: -1;

    @media screen and (max-width: 1279px) {
      content: url("../public/img/tokenomic/tokenomic_bg_layer_front_mobile.png");
      top: 14px;
    }
  }
}

.tokenomic__container {
  width: min(1326px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;

  @media screen and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
}

.tokenomic__title {
  margin-bottom: 58px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 124px;
  text-transform: uppercase;
  color: #81c29b;

  @media screen and (max-width: 1279px) {
    margin-bottom: 50px;
    text-align: center;
    font-size: 47px;
  }
}

.tokenomic__statistics {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  color: #fff;

  @media screen and (max-width: 1279px) {
    padding-left: 0;
    gap: 50px;
    font-size: 23px;
  }
}

.statistics__num {
  font-size: 56px;

  @media screen and (max-width: 1279px) {
    font-size: 35px;
  }
}

.tokenomic__img {
  position: absolute;
  top: 76px;
  right: 0;

  @media screen and (max-width: 1279px) {
    position: relative;
    top: 0;
  }
}

.tokenomic__ticker {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 1279px) {
    height: 64px;
  }

  .ticker__wrap {
    display: flex;
    align-items: center;
    gap: 124px;
    animation: tickerMove 60s linear infinite;

    @media screen and (max-width: 1279px) {
      gap: 100px;
    }

    span {
      font-size: 32px;
      line-height: 100%;
      color: #000;

      @media screen and (max-width: 1279px) {
        font-size: 25px;
      }
    }
  }
}
